/*
 * File: custom.css
 * Created Date: 17 03 2019, 4:51:59 PM
 * Author: Khan Sunny
 * -----
 * Last Modified: 27 06 2019, 12:31:24 AM
 * Modified By: Khan Sunny
 * -----
 * 
 */

 /* Message Style  */

span.message p{
	color: red;
}

 /* Bootstrap Date pciker */
.datepicker td:last-child, .datepicker th:last-child{
	text-align: center
}

.datepicker td, .datepicker th {
	width: 1.5em;
	height: 1.5em;
}

/* Upload photo preview */
#imagePreview {
	background-position: center center;
	background-size: cover;
	display: inline-block;
	height: 180px;
	width: 180px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* Book List */

.book-image{
	width: 180px;
	float: left;
}

.book-info{
	margin-left: 180px;
}

.book-title{
	display: inline-block;
    font-size: 22px;
    font-weight: 500;
    padding: 0px 15px;
}

.book-author{
	font-size: 14px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: #5873fe;
}

.book-author i{
	font-size: 14px;
    color: #5873fe;
}

.book-author span{
	font-size: 14px;
    margin-left: 7px;
    color: #5873fe;
}

.book-available{
	padding-left: 15px;
}

.book-available i{
	background: green;
    padding: 0px;
    color: white;
    border-radius: 50px;
    font-size: 13px;
}

.book-available span{
	font-size: 14px;
    margin-left: 7px;
    margin-bottom: 121px;
}

.book-category{
	padding-left: 15px;
	font-size:15px;
	padding-bottom: 10px; 
}

.book-id{
	padding-left: 15px;
	font-size:15px;
	padding-bottom: 10px; 
}

/* Responsive  */
@media (max-width: 420px) {
	
	.hide-mobile {
		margin-left: 0px !important
	}

	.sidebar-hide .sidebar.sidebar-shrink.sidebar-hide-to-small~.content-wrap {
		margin-left: 0px;
	}

	.hamburger {
		left:0px;
	}
	.sidebar-hide .sidebar.sidebar-hide-to-small {
		position: absolute;
		width: 0px;
	}
	.sidebar-hide .sidebar.sidebar-hide-to-small, .sidebar-hide .sidebar.sidebar-hide-to-small .nano, .sidebar-hide .sidebar.sidebar-hide-to-small .nano-content {
		overflow: hidden;
	}

	.book-info {
		margin-left: 0;
	}

	.book-image {
		width: 180px;
		margin: 0 auto;
		float: none;
	}
}
