/*
 * File: custom.css
 * Created Date: 17 03 2019, 4:51:59 PM
 * Author: Khan Sunny
 * -----
 * Last Modified: 21 10 2019, 5:07:07 PM
 * Modified By: Khan Sunny
 * -----
 * 
 */
/* sidebar */

.sidebar{
	background: #256966;
}

.logo {
    background: #256966;
}

.logo span {
	color: #020202;
}

.sidebar{
	top:0px;
}

.sidebar-hide .sidebar.sidebar-hide-to-small {
	top: 0px;
}

.sidebar .nano-content>ul>li.active>a, .sidebar .nano-content>ul>li.open>a, .sidebar .nano-content>ul>li>ul {
	background: linear-gradient(to right, #28a745 , #256966);
}

.sidebar .nano-content>ul li.label {
	color: #090a0e;
}

.sidebar .nano-content>ul li.active>a::before {
    background: #256966;
}

.sidebar .nano-content>ul li>a {
	background: #256966;
	color: #ffffff;
}

.sidebar .nano-content>ul li>a:hover {
    background: linear-gradient(to right, #28a745);
}

.sidebar .nano-content>ul li>a:hover {
	background: #28a745;
}

.sidebar .nano-content>ul>li>ul>li.active>a, .sidebar .nano-content>ul>li>ul>li.open>a, .sidebar .nano-content>ul>li>ul>li>ul {
	background: #28a745;
	color: #090a0e;
}

 /* Message Style  */

span.message p{
	color: red;
}

 /* Bootstrap Date pciker */
.datepicker td:last-child, .datepicker th:last-child{
	text-align: center
}

.datepicker td, .datepicker th {
	width: 1.5em;
	height: 1.5em;
}

/* Upload photo preview */
#imagePreview {
	background-position: center center;
	background-size: cover;
	display: inline-block;
	height: 180px;
	width: 180px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* Book List */

.book-image{
	float: left;

}
.book-image img{
	height: 180px !important;
	width: 180px !important;
}

.book-info{
	margin-left: 180px;
}

.book-title{
	display: inline-block;
    font-size: 22px;
    font-weight: 500;
    padding: 0px 15px;
}

.book-author {
	font-size: 15px;
	color: #5873fe;
	padding-bottom: 10px;
	padding-left: 15px;
}

.book-author i{
	font-size: 12px;
    color: #5873fe;
    font-weight: 800;
}

.book-author span{
    font-weight: 300;
}

.book-available{
	padding-left: 15px;
}

.book-available i{
	background: green;
    padding: 0px;
    color: white;
    border-radius: 50px;
    font-size: 13px;
}

.book-available span{
	font-size: 14px;
    margin-bottom: 121px;
}

.book-category{
	padding-left: 15px;
	font-size:15px;
	padding-bottom: 10px; 
}

.book-id{
	padding-left: 15px;
	font-size:15px;
	padding-bottom: 10px; 
}

/* Responsive  */
@media (max-width: 420px) {
	
	.hide-mobile {
		margin-left: 0px !important
	}

	.hide-sm{
		display: none;
	}

	.sidebar{
		top:60px;
	}

	.sidebar-hide .sidebar.sidebar-hide-to-small {
		top: 60px;
	}

	.sidebar-hide .sidebar.sidebar-shrink.sidebar-hide-to-small~.content-wrap {
		margin-left: 0px;
	}

	.hamburger {
		left:0px;
	}
	.sidebar-hide .sidebar.sidebar-hide-to-small {
		position: absolute;
		width: 0px;
	}
	.sidebar-hide .sidebar.sidebar-hide-to-small, .sidebar-hide .sidebar.sidebar-hide-to-small .nano, .sidebar-hide .sidebar.sidebar-hide-to-small .nano-content {
		overflow: hidden;
	}

	.book-info {
		margin-left: 0;
		text-align: center;
	}
	
	.book-author, .book-category, .book-available, .book-id{
		text-align: left;
	}
	
	.book-image {
		width: 180px;
		height: 180px;
		margin: 0 auto;
		float: none;
	}
}

/* Events  */

.event-time-filed{
	margin-left: -90px;
    margin-top: -10px;
}

/* Material Date Time Picker */
.dtp-btn-now{
    margin-right: 8px;
    background: #fff;
}

.dtp-btn-now:hover, .dtp-btn-now:focus{
	background: #5873fe;
	border-color: #5873fe;
	color: #000000;
}

.dtp-btn-clear{
	margin-right: 8px;
	background: #fff;
}

.dtp-btn-clear:hover, .dtp-btn-clear:focus{
	background: #03a9f4;
	border-color: #03a9f4;
	color: #000000;
}

.dtp-btn-cancel{
	margin-right: 8px;
	background: #fff;
}

.dtp-btn-cancel:hover,.dtp-btn-cancel:focus{
	background: #dc3545;
	border-color: #dc3545;
	color: #000000;
}

.dtp-btn-ok{
	background: #fff;
}

.dtp-btn-ok:hover{
	background: #28a745;
	border-color: #28a745;
	color: #000000;
}
