/*
 * File: custom.css
 * Created Date: 17 03 2019, 4:51:59 PM
 * Author: Khan Sunny
 * -----
 * Last Modified: 26 06 2019, 4:57:55 AM
 * Modified By: Khan Sunny
 * -----
 * 
 */

 /* Message Style  */

span.message p{
	color: red;
}

 /* Bootstrap Date pciker */
.datepicker td:last-child, .datepicker th:last-child{
	text-align: center
}

.datepicker td, .datepicker th {
	width: 1.5em;
	height: 1.5em;
}

/* Upload photo preview */
#imagePreview {
	background-position: center center;
	background-size: cover;
	display: inline-block;
	height: 180px;
	width: 180px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


/* Responsive  */
@media (max-width: 420px) {
	
	.hide-mobile {
		margin-left: 0px !important
	}

	.sidebar-hide .sidebar.sidebar-shrink.sidebar-hide-to-small~.content-wrap {
		margin-left: 0px;
	}

	.hamburger {
		left:0px;
	}
	.sidebar-hide .sidebar.sidebar-hide-to-small {
		position: absolute;
		width: 0px;
	}
	.sidebar-hide .sidebar.sidebar-hide-to-small, .sidebar-hide .sidebar.sidebar-hide-to-small .nano, .sidebar-hide .sidebar.sidebar-hide-to-small .nano-content {
		overflow: hidden;
	}


}
